/* App.css */
body {
  background-color: #333; /* 背景暗色 */
  color: #fff; /* 文字顏色 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* 清除預設 margin */
  height: 100vh; /* 確保 body 滿屏高度 */
}

.App-header {
  padding: 20px;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: column; /* 將按鈕列為垂直方向 */
  align-items: center; /* 將按鈕置中 */
  width: 100%; /* 確保容器寬度 */
  max-width: calc(100% - 60px); /* 保留容器外邊距30px */
}

.number-button {
  font-size: 2em; /* 按鈕文字大小 */
  margin: 10px; /* 上下左右間距 */
  padding: 100px 220px; /* 內間距 */
  background-color: #555; /* 按鈕背景色 */
  color: #fff; /* 按鈕文字顏色 */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: auto; /* 讓按鈕寬度自適應內容 */
  min-width: 200px; /* 設定按鈕最小寬度 */
  max-width: calc(100% - 60px); /* 設定按鈕最大寬度，保留容器外邊距30px */
}

.number-button:hover {
  background-color: #777; /* 按鈕懸停時背景色 */
}
